@import "main";
.todo {
  background: url("../../../../../assets/images/frame.svg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 316px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.75);

  &__corner {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent radial-gradient(closest-side at 68% 18%, #F5F5F5 0%, #D9D9D9 100%) 0 0 no-repeat;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);

    &-left {
      top: 5px;
      left: 20px;
    }
    &-right {
      top: 5px;
      right: 20px;
    }
  }

  &__content {
    height: 100%;
    font-family: $lobster;
    padding: 0 5px;
    color: $textColor;
    overflow-y: auto;
  }

  &__header {
    text-transform: capitalize;
    font-family: $lobster;
    text-align: center;
    margin: 0;
    text-shadow: 0 5px 6px #d2a56d;
  }

  &__description {
    margin-top: 10px;
    line-height: 35px;

  }
}
