<div class="todo">
  <div class="todo__corner todo__corner-left"></div>
  <div class="todo__corner todo__corner-right"></div>
  <div class="todo__content">
    <h2 class="todo__header">{{todo.header ? todo.header : 'TODO'}}</h2>
    <p class="todo__edit" (click)="edit()">Edit</p>
    <p class="todo__delete" (click)="delete()">Delete</p>
    <p *ngIf="todo.description" class="todo__description">{{todo.description}}</p>
    <div *ngIf="todo.links">
      {{'Links:' | uppercase}}
      <ul class="todo__link" >
        <li class="todo__link-item" *ngFor="let link of todo.links">
          <a [attr.href]="link">{{getHost(link)}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
