@import "main";

.button {
  background: url("../../../../assets/images/ui_background.jpg") no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(203, 155, 96, 0.87);
  border-radius: 10px;
  height: 100%;
  max-height: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__button {
    background: transparent;
    background: url("../../../../assets/images/ui_background.jpg") no-repeat;
    border: 1px solid rgba(203, 155, 96, 0.87);
    border-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 14px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 95.235294117%;
    outline: none;
    width: 100%;
  }

  &__button:disabled {
    cursor: not-allowed;
  }
}

.button__button:active {
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
  box-shadow: 0 14px 5px 0 rgba(0, 0, 0, 0.35),
  inset 0 0 2px 0 rgba(0, 0, 0, 0.55);
  height: 100%;
}


