@import "src/styles/main";
.form {
  align-items: center;
  color: $textColor;
  display: flex;
  flex-direction: column;
  font-family: Lobster;
  font-size: 1.2em;
  justify-content: center;

  h2 {
    text-transform: uppercase;
  }

  &__header,
  &__description,
  &__link {
    margin-bottom: 20px;
    width: 50%;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    background: url("../../../../../assets/images/ui_background.png");
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.75);
    box-sizing: border-box;
    font-size: 1.2em;
    margin-bottom: 10px;
    min-width: 480px;
    outline: none;
    padding: 10px;
    resize: vertical;
    width: 100%;
  }

  &__input--error {
    box-shadow: inset 0 0 6px 6px rgba(255,0,0,0.2)
  }

  &__area {
    height: 200px;
  }

  &__link-controls {
    display: flex;
    height: 30px;
    justify-content: center;
    width: 50%;

    app-button {
      margin-right: 20px;
      width: 30%;
    }
  }

  &__controls {
    display: flex;
    height: 50px;
    justify-content: space-around;
      width: 50%;
  }

  &__save,
  &__cancel{
    width: 30%;
  }

  app-error-message {
    display: block;
  }

}
