@mixin empty {
  align-items: center;
  color: $textColor;
  display: flex;
  font-family: $lobster;
  font-size: 2em;
  height: 100%;
  justify-content: center;
  margin-top: -100px;
  text-shadow: 0 5px 6px #d2a56d;
  width: 100%;
}
