@font-face {
  font-family: 'Lobster';
  src: url('/assets/fonts/lobster/lobster.otf') format('opentype'),
  url('/assets/fonts/lobster/lobster.woff') format('woff'),
  url('/assets/fonts/lobster/lobster.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeue/helveticaneuecyr-medium.eot');
  src: url('/assets/fonts/HelveticaNeue/helveticaneuecyr-medium.woff') format('woff'),
  url('/assets/fonts/HelveticaNeue/helveticaneuecyr-medium.woff2') format('woff2');
  font-style: normal;
}
