$Lobster-text-opentype-font-path: "./fonts/lobster/lobster.otf";
$Lobster-text-woff-font-path: "./fonts/lobster/lobster.woff";
$Lobster-text-woff2-font-path: "/fonts/lobster/lobster.woff2";

$Helvetica-text-opentype-font-path: "./fonts/HelveticaNeue/helveticaneuecyr-medium.eot";
$Helvetica-text-woff-font-path: "./fonts/HelveticaNeue/helveticaneuecyr-medium.woff";
$Helvetica-text-woff2-font-path: "./fonts/HelveticaNeue/helveticaneuecyr-medium.woff2";
