@import "main";
.top {
  background: url("/assets/images/ui_background.png") no-repeat;
  background-size: cover;
  border: 1px solid $textColor;
  border-radius: 10px 0 0 10px;
  bottom: 20px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  cursor: pointer;
  height: 60px;
  position: fixed;
  right: 0;
  width: 80px;

  &::before {
    background: url("/assets/images/up-arrow.svg") no-repeat center center;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }

  &:hover {
    background: linear-gradient(rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100%), url("/assets/images/ui_background.png") no-repeat center center;
    background-size: cover;
  }
}
