<ul class="header">
  <li class="header__item">
    <a class="header__link">
      <div class="header__button-wrapper"
           [routerLink]="['login']"
           [routerLinkActive]="'current'">
        <button class="header__button">Login</button>
      </div>
    </a>
  </li>
  <li class="header__item">
    <a class="header__link" >
      <div class="header__button-wrapper"
           [routerLink]="['dashboard']"
            [routerLinkActive]="'current'">
        <button class="header__button">Dashboard</button>
      </div>
    </a>
  </li>
</ul>
