<div class="container">
  <div class="todo-cube">
    <div class="todo-cube__front todo">
      <div class="todo__header">todo</div>
      <div class="todo__content">1. make tea</div>
    </div>
    <div class="todo-cube__left todo">
      <div class="todo__header">todo</div>
      <div class="todo__content">2. visit parents</div>
    </div>
    <div class="todo-cube__right todo">
      <div class="todo__header">todo</div>
      <div class="todo__content">3. buy a car</div>
    </div>
    <div class="todo-cube__back todo">
      <div class="todo__header">todo</div>
      <div class="todo__content">4. find keys</div>
    </div>
  </div>
</div>
