@import 'main';

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  perspective: 500px;
  perspective-origin: 50%;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.todo-cube {
  animation: rotate 5s infinite;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  width: 100px;

  .todo {
    background: $scrollBarColor url("../../../assets/images/frame.svg") no-repeat;
    background-size: cover;
    border: 4px solid $scrollBarColor;
    bottom: 0;
    box-sizing: border-box;
    color: $textColor;
    font-family: $lobster;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;

    &__header {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    &__content {
      box-sizing: border-box;
      padding: 5px;
      text-align: center;
    }
  }

  .todo:before {
    background: transparent radial-gradient(closest-side at 68% 18%, #f5f5f5 0%, #d9d9d9 100%) 0 0 no-repeat;
    border-radius: 50%;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
    content: "";
    height: 10px;
    left: 10px;
    position: absolute;
    top: 5px;
    width: 10px;
  }

  .todo:after {
    background: transparent radial-gradient(closest-side at 68% 18%, #f5f5f5 0%, #d9d9d9 100%) 0 0 no-repeat;
    border-radius: 50%;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
    content: "";
    height: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 10px;
  }

  &__front {
    transform: translateZ(50px);
  }

  &__back {
    transform: translateZ(-50px) rotateY(180deg);
  }

  &__left {
    transform: rotateY(270deg) translateX(-50px);
    transform-origin: center left;
  }

  &__right {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
  }
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg);
  }
}
