@import "main";
.dashboard {
  height: calc(100vh - 100px);

  .todo {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    justify-content: space-around;
    width: 100%;

    &__item {
      margin: 20px 20px;
      width: 480px;
    }

    &__empty {
      @include empty;
    }
  }

  &__empty {
    @include empty;
  }
}
