@import '~normalize.css';
@import "styles/main";
@import "fonts/fonts";
body {
  background: url('./assets/images/Melamine-wood-005.png');
  margin: 0;
  padding: 0;
  scrollbar-color: $scrollBarColor $scrollBarColor;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 5px #808080;
}

::-webkit-scrollbar-thumb {
  background: $scrollBarColor;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@font-face {
  font-family: 'Lobster';
  src: url($Lobster-text-opentype-font-path) format('opentype'),
  url($Lobster-text-woff-font-path) format('woff'),
  url($Lobster-text-woff2-font-path) format('woff2');
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url($Helvetica-text-opentype-font-path);
  src: url($Helvetica-text-woff-font-path) format('woff'),
  url($Helvetica-text-woff2-font-path) format('woff2');
  font-style: normal;
}
