<div class="wrapper">
  <div class="name__errors" *ngIf="loginForm.invalid && loginForm.touched">
    <app-error-message [control]="email" [controlName]="'Name'"></app-error-message>
  </div>
  <form class="login" autocomplete="off" [formGroup]="loginForm">
    <div class="login__body">
      <div class="login__header">
        <div class="login__back">
          <button class="login__back-button" type="button"
                  (click)="clear()"
                  *ngIf="isFormHasValue">clear</button>
        </div>
        <div class="login__title">woodsy</div>
      </div>
      <div class="login__body">
        <div class="login__email">
          <div class="shelf">
            <div class="shelf__left"></div>
            <input type="text" [ngClass]="{'shelf__error': email.touched && email.invalid}"
                   class="shelf__input"
                  [formControlName]="'email'">
            <div class="shelf__right"></div>
            <div class="shelf__bottom"></div>
          </div>
        </div>
        <div class="login__password">
          <div class="shelf">
            <div class="shelf__left"></div>
            <input type="password" [ngClass]="{'shelf__error': password.touched && password.invalid}"
                   [attr.autocomplete]="'new-password'"
                   class="shelf__input" #input
                    [formControlName]="'password'">
            <div class="shelf__right"></div>
            <div class="shelf__bottom"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="login__controls">
      <div class="controls">
        <div class="controls__registration">
          <app-login-button
            [customClass]="'leftRoundBorder'"
            [text]="'login'"
            (clickHandler)="login()"
            [isDisabled]="loginForm.invalid"
          ></app-login-button>
        </div>
        <div class="controls__login">
          <app-login-button
            [customClass]="'rightRoundBorder'"
            [text]="'register'"
            (clickHandler)="registration()"
            [isDisabled]="loginForm.invalid"
          ></app-login-button>
        </div>
      </div>
    </div>
  </form>
  <div class="password__errors" *ngIf="loginForm.invalid && loginForm.touched">
    <app-error-message [control]="password" [controlName]="'Password'"></app-error-message>
  </div>
</div>
